@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-500.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-600.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-700.woff2') format('woff2'); 
  }
}

@layer components {
  .max-container {
    @apply max-w-[1280px] my-0 mx-auto;
  }

  .input {
    @apply border-2 border-neutrals-6 rounded-lg py-3 px-4 font-poppins text-caption2 text-neutrals-4 placeholder:text-neutrals-4;
  }

  .new-notification::before {
    @apply absolute content-[''] -top-[6px] -right-[6px] w-3 h-3 bg-primary-green rounded-full;

  }
}
