@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-500.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-600.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans/dm-sans-v15-latin-700.woff2') format('woff2'); 
  }

  h1 {
    @apply text-5xl -tracking-[2%]; 
  }
  h2 {
    @apply text-4xl -tracking-[2%];
  }
  h3 {
    @apply text-3xl -tracking-[1%];
  }
  h4 {
    @apply text-2xl -tracking-[2%];
  }
}

@layer components {
  .max-container {
    @apply max-w-[1120px] my-0 mx-auto
  }
}

@layer utilities {
  .padding {

  }
}